<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="tenne-title">Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="events.length > 0; else noEvents">
    <ion-card *ngFor="let event of events" class="event-card">
      <ion-card-header>
        <ion-card-title class="tenne-heading">{{ event.title }}</ion-card-title>
        <ion-card-subtitle class="tenne-subtitle">
          {{ event.date | date: 'EEEE, dd. MMMM · HH:mm' : '' : 'de' }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p class="tenne-text">{{ event.description }}</p>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #noEvents>
    <ion-card class="event-card">
      <ion-card-header>
        <ion-card-title class="tenne-heading">Keine Events</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="tenne-text">
          Zurzeit sind keine Veranstaltungen geplant.
        </p>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
