:host {
    --padding-start: 0;
    --padding-end: 0;
  }
  
  ion-content {
    --background: var(--ion-background-color);
    padding: var(--ion-padding, 16px);
  }
  
  .event-card {
    margin-bottom: 1rem;
    border-radius: 16px;
    //box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
    background: var(--ion-card-background);
    color: var(--ion-color-text);
  }
  
  ion-card-title.tenne-heading {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--ion-color-primary);
  }
  
  ion-card-subtitle.tenne-subtitle {
    font-size: 0.8rem;
    line-height: 1.6;
    color: var(--ion-text-color);
  }
  
  ion-card-content .tenne-text {
    font-size: 1rem;
    color: var(--ion-color-text);
  }
  
  ion-toolbar {
    padding-top: env(safe-area-inset-top);
    padding-left: 16px;
    padding-right: 16px;
    background: var(--ion-color-primary);
    color: var(--ion-color-light);
  }
  
  ion-title.tenne-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--ion-color-light);
  }
  
  /* DARK MODE */
  @media (prefers-color-scheme: dark) {
    ion-content {
      --background: var(--ion-background-color);
    }
  
    .event-card {
      background: var(--ion-card-background);
      color: var(--ion-color-text);
    }
  
    ion-card-title.tenne-heading,
    ion-card-content .tenne-text {
      color: var(--ion-color-text);
    }
  
    ion-card-subtitle.tenne-subtitle {
      color: var(--ion-color-medium);
    }
  
    ion-toolbar {
      background: var(--ion-color-primary);
      color: var(--ion-color-light);
    }
  
    ion-title.tenne-title {
      color: var(--ion-color-light);
    }
  }
  