<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let event of events" class="event-card">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="calendar-outline"></ion-icon> {{ event.title }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ event.date | date: 'EEEE, dd. MMMM · HH:mm':'':'de' }}</p>
      <p>{{ event.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
