<ion-content fullscreen="false">

  <div class="ion-padding">
    <ion-card>
      <ion-card-content>
        <h2>Adresse</h2>
        <p>
          Tenne<br>
          Annastraße 101A<br>
          41372 Niederkrüchten
        </p>

        <h2>Telefon</h2>
        <p>
          <a href="tel:+4921633490039" class="contact-link">
            02163 349 003 9
          </a>
        </p>

        <h2>E-Mail</h2>
        <p>
          <a href="mailto:office@tenne-treff.de" class="contact-link">
            office&#64;tenne-treff.de
          </a>
        </p>

        <h2>Webseite</h2>
        <p>
          <a href="https://www.tenne-treff.de" target="_blank" class="contact-link">
            www.tenne-treff.de
          </a>
        </p>

        <div class="ion-margin-top">
          <ion-button class="ion-margin-top" expand="block" color="primary" href="tel:+4921633490039">
            📞 Anrufen
          </ion-button>

          <ion-button class="ion-margin-top" expand="block" color="primary" href="https://maps.google.com/?q=Annastraße+101A+41372+Niederkrüchten" target="_blank">
            📍 Navigation starten
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
