h2 {
    font-size: 1.2rem;
    color: var(--ion-color-primary);
    margin-top: 1rem;
    margin-bottom: 0.3rem;
  }
  
  p {
    font-size: 1rem;
    color: var(--ion-text-color);
    margin: 0 0 1rem;
  }
  
  .contact-link {
    color: var(--ion-color-secondary);
    text-decoration: none;
    font-weight: 500;
  }
  