<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Kontakt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="location-outline"></ion-icon> Anfahrt
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Annastraße 103</p>
      <p>41372 Niederkrüchten</p>
      <ion-button
        expand="block"
        fill="outline"
        color="primary"
        href="https://www.google.com/maps/dir/?api=1&destination=Annastraße+103,+41372+Niederkrüchten"
        target="_blank"
      >
        Route planen
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="mail-outline"></ion-icon> Kontakt
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        E-Mail:
        <a href="mailto:office@tenne-treff.de">office&#64;tenne-treff.de</a><br />
        Tel.:
        <a href="tel:021633490039">02163 349 003 9</a>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
