<app-header></app-header>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/pages/home">
      <ion-icon aria-hidden="true" name="newspaper-outline"></ion-icon>
      <ion-label>Stratseite</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events" href="/pages/events">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact" href="/pages/contact">
      <ion-icon aria-hidden="true" name="reader-outline"></ion-icon>
      <ion-label>Kontakt</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
