<ion-content fullscreen="false">

  <div class="ion-padding">
    <h2>Allgemeine Öffnungszeiten</h2>

    <ion-card>
      <ion-card-content>
        <h3>Montag – Donnerstag</h3>
        <p>Geschlossen<br>Veranstaltungen auf Anfrage</p>

        <h3>Freitag – Samstag</h3>
        <p>09:00 – 13:00 Uhr<br>17:00 – 23:00 Uhr</p>

        <h3>Sonntag</h3>
        <p>09:00 – 21:30 Uhr</p>
      </ion-card-content>
    </ion-card>

    <h2>Besondere Zeiten</h2>

    <ion-card>
      <ion-card-content>
        <h3>Frühstücksbuffet</h3>
        <p>Freitag – Sonntag<br>09:00 – 12:30 Uhr</p>

        <h3>Cafézeit in der Tenne</h3>
        <p>Sonntag<br>13:00 – 17:00 Uhr</p>

        <h3>Warme Küche</h3>
        <p>Freitag – Sonntag<br>18:00 – 21:00 Uhr</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


